In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [5]:
stock1 = pd.read_csv('stock/000001SZ.csv')
stock1.head()

,Unnamed: 0,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,0,000001.SZ,20181228,9.31,9.46,9.31,9.38,9.28,0.10,1.0776,576604.00,541571.004
1,1,000001.SZ,20181227,9.45,9.49,9.28,9.28,9.30,-0.02,-0.2151,624593.27,586343.755
2,2,000001.SZ,20181226,9.35,9.42,9.27,9.30,9.34,-0.04,-0.4283,421140.60,393215.140
3,3,000001.SZ,20181225,9.29,9.43,9.21,9.34,9.42,-0.08,-0.8493,586615.45,545235.607
4,4,000001.SZ,20181224,9.40,9.45,9.31,9.42,9.45,-0.03,-0.3175,509117.67,477186.904

In [6]:
stock1 = stock1[['trade_date','close','vol']]
stock1.head()

   trade_date  close        vol
0    20181228   9.38  576604.00
1    20181227   9.28  624593.27
2    20181226   9.30  421140.60
3    20181225   9.34  586615.45
4    20181224   9.42  509117.67

In [8]:
import datetime
stock1['trade_date'] = stock1['trade_date'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
stock1 = stock1.set_index('trade_date')
stock1.head()

AttributeError: module 'datetime' has no attribute 'strptime'